/*-------------------------------------------------------

m-outer

----------------------------------------------------------*/  
//最大content幅
.m-container-fixed{
max-width: 980px;
margin-left: auto;
margin-right: auto;
box-sizing: content-box;
padding-left: 4%;
padding-right: 4%;
}
.m-container-fluid{
max-width: 100%;
width: 100%;
padding: 0;
}



//上下余白
.m-outer-box-L{
padding-top:100px;
padding-bottom:100px;
    @include breakPoint(sp) {
    padding-bottom:90px;
    padding-top:90px;
    }
}
.m-outer-box-M{
padding-top:60px;
padding-bottom:60px;
    @include breakPoint(sp) {
    padding-top:40px;
    padding-bottom:40px;
    }
}
.m-outer-box-S{
padding-top:40px;
padding-bottom:40px;
    @include breakPoint(sp) {
    padding-top:30px;
    padding-bottom:30px;
    }
}
.m-outer-box-XS{
padding-top:20px;
padding-bottom:30px;
    @include breakPoint(sp) {
    padding-top:20px;
    padding-bottom:20px;
    }
}

//上余白padding
.m-outer-pt-L{
padding-top:120px;
    @include breakPoint(sp) {
    padding-top:90px;
    }
}
.m-outer-pt-M{
padding-top:60px;
    @include breakPoint(sp) {
    padding-top:40px;
    }
}
.m-outer-pt-S{
padding-top:40px;
@include breakPoint(sp) {
padding-top:30px;
}
}
.m-outer-pt-XS{
padding-top:30px;
    @include breakPoint(sp) {
    padding-top:20px;
    }
}

//上余白margin
.m-outer-mt-L{
    margin-top:120px;
    @include breakPoint(sp) {
    margin-top:90px;
    }
}
.m-outer-mt-M{
margin-top:60px;
    @include breakPoint(sp) {
    margin-top:40px;
    }
}
.m-outer-mt-S{
margin-top:40px;
    @include breakPoint(sp) {
    margin-top:30px;
    }
}
.m-outer-mt-XS{
margin-top:30px;
    @include breakPoint(sp) {
    padding-top:20px;
    }
}

//微調整マージン
.mt-1{
margin-top: 5px;
}
.mt-2{
margin-top: 15px;
}
@include breakPoint(sp) {
    .mt-1-sp{
    margin-top: 5px;
    }
    .m-mt-2-sp{
    margin-top: 15px;
    }
}

//センター寄せ
.m-mx-auto{
margin-left: auto;
margin-right: auto;
}

//横幅100%
.w-100{
    width: 100%;
}