@charset "UTF-8";
/* Scss Document */
/* Scss Document */
/*-------------------------------------------------------

カラー

----------------------------------------------------------*/
/*-------------------------------------------------------

メディアクエリ

----------------------------------------------------------*/
/*-------------------------------------------------------

サブメニュー 連番

----------------------------------------------------------*/
.delay:nth-child(1) {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

.delay:nth-child(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.delay:nth-child(3) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.delay:nth-child(4) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.delay:nth-child(5) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.delay:nth-child(6) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.delay:nth-child(7) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.delay:nth-child(8) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.delay:nth-child(9) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.delay:nth-child(10) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

/*-------------------------------------------------------

矢印モジュール

----------------------------------------------------------*/
/*-------------------------------------------------------

flex オプション

----------------------------------------------------------*/
/*-------------------------------------------------------

その他 オプション

----------------------------------------------------------*/
/*-------------------------------------------------------

グラデーション

----------------------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd,
q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 10px;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  color: #333;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #333;
  font-size: 1.6rem;
  font-family: "Helvetica Neue","Yu Gothic Medium", "游ゴシック Medium", "游ゴシック体", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;
  color: #333;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

input[type="text"] {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background: #ff0000;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label {
  background: #ff0000;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
}

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

/*-------------------------------------------------------

m-outer

----------------------------------------------------------*/
.m-container-fixed {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding-left: 4%;
  padding-right: 4%;
}

.m-container-fluid {
  max-width: 100%;
  width: 100%;
  padding: 0;
}

.m-outer-box-L {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media only screen and (max-width: 767px) {
  .m-outer-box-L {
    padding-bottom: 90px;
    padding-top: 90px;
  }
}

.m-outer-box-M {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media only screen and (max-width: 767px) {
  .m-outer-box-M {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.m-outer-box-S {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media only screen and (max-width: 767px) {
  .m-outer-box-S {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.m-outer-box-XS {
  padding-top: 20px;
  padding-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  .m-outer-box-XS {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.m-outer-pt-L {
  padding-top: 120px;
}

@media only screen and (max-width: 767px) {
  .m-outer-pt-L {
    padding-top: 90px;
  }
}

.m-outer-pt-M {
  padding-top: 60px;
}

@media only screen and (max-width: 767px) {
  .m-outer-pt-M {
    padding-top: 40px;
  }
}

.m-outer-pt-S {
  padding-top: 40px;
}

@media only screen and (max-width: 767px) {
  .m-outer-pt-S {
    padding-top: 30px;
  }
}

.m-outer-pt-XS {
  padding-top: 30px;
}

@media only screen and (max-width: 767px) {
  .m-outer-pt-XS {
    padding-top: 20px;
  }
}

.m-outer-mt-L {
  margin-top: 120px;
}

@media only screen and (max-width: 767px) {
  .m-outer-mt-L {
    margin-top: 90px;
  }
}

.m-outer-mt-M {
  margin-top: 60px;
}

@media only screen and (max-width: 767px) {
  .m-outer-mt-M {
    margin-top: 40px;
  }
}

.m-outer-mt-S {
  margin-top: 40px;
}

@media only screen and (max-width: 767px) {
  .m-outer-mt-S {
    margin-top: 30px;
  }
}

.m-outer-mt-XS {
  margin-top: 30px;
}

@media only screen and (max-width: 767px) {
  .m-outer-mt-XS {
    padding-top: 20px;
  }
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 15px;
}

@media only screen and (max-width: 767px) {
  .mt-1-sp {
    margin-top: 5px;
  }
  .m-mt-2-sp {
    margin-top: 15px;
  }
}

.m-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.w-100 {
  width: 100%;
}

/*
*	モジュール一覧
*
*
*/
.container {
  background: #fbfbfe;
  height: 100%;
  min-height: calc(100vh - 83px);
  padding: 50px 6%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 767px) {
  .container {
    min-height: calc(100vh - 67px);
  }
}

.color-red {
  color: red;
}

.border-red {
  border: 1px solid red !important;
}
/*# sourceMappingURL=common.css.map */